<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>

<body>
    <div class="container" style="margin-top:20px">
        <h1 style="text-align: center;">Grid Quello Che Vuoi</h1>
        <div id="app-4" style="margin-top: 10px;">
            <div class="input-group mb-3" style="max-width: 500px; float:right;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input v-model="inputText" v-on:keydown="cerca" type="text" class="form-control" placeholder="Cerca nella tabella" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th v-for="header in headers">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in rowsToDisplay">
                            <td v-for="header in headers">{{ row[header] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app4 = new Vue({
            el: '#app-4',
            /*created: function () {
                $.getJSON('http://api.myjson.com/bins/1azeti', function (data) {
                    this.rows = data.rows;
                    console.log(this.rows);
                    this.headers = Object.keys(this.rows[0]);
                    this.rowsToDisplay = this.rows;
                    console.log(this.rowsToDisplay);
                    console.log(this.headers);
                })
            },*/ //solo dio sa perche non va
            created: function () {
                    this.headers = Object.keys(this.rows[0]);
                    this.rowsToDisplay = this.rows;
            },
            methods: {
                cerca: function () {
                    var i, j, aux, k = 0;
                    this.indicesOfRowsToDisplay = [];
                    for (i = 0; i < this.rows.length; i++) {
                        for (j = 0; j < this.headers.length; j++) {
                            aux = this.rows[i][this.headers[j]].toString();
                            if (aux.indexOf(this.inputText) != -1) {
                                this.indicesOfRowsToDisplay[k] = i;
                                k++;
                                break;
                            }
                        }
                    }
                    this.rowsToDisplay = [];
                    for (i = 0; i < this.indicesOfRowsToDisplay.length; i++) {
                        this.rowsToDisplay[i] = this.rows[this.indicesOfRowsToDisplay[i]];
                    }
                },
            },
            data: {
                inputText: "",
                headers: [],
                indicesOfRowsToDisplay: [],
                rowsToDisplay: [],
                rows: [{
                    "ID": 1,
                    "CompanyName": "Super Mart of the West",
                    "Address": "702 SW 8th Street",
                    "City": "Bentonville",
                    "State": "Arkansas",
                    "Zipcode": 72716,
                    "Phone": "(800) 555-2797",
                    "Fax": "(800) 555-2171",
                    "Website": "http://www.nowebsitesupermart.com"
                }, {
                    "ID": 2,
                    "CompanyName": "Electronics Depot",
                    "Address": "2455 Paces Ferry Road NW",
                    "City": "Atlanta",
                    "State": "Georgia",
                    "Zipcode": 30339,
                    "Phone": "(800) 595-3232",
                    "Fax": "(800) 595-3231",
                    "Website": "http://www.nowebsitedepot.com"
                }, {
                    "ID": 3,
                    "CompanyName": "K&S Music",
                    "Address": "1000 Nicllet Mall",
                    "City": "Minneapolis",
                    "State": "Minnesota",
                    "Zipcode": 55403,
                    "Phone": "(612) 304-6073",
                    "Fax": "(612) 304-6074",
                    "Website": "http://www.nowebsitemusic.com"
                }, {
                    "ID": 4,
                    "CompanyName": "Tom's Club",
                    "Address": "999 Lake Drive",
                    "City": "Issaquah",
                    "State": "Washington",
                    "Zipcode": 98027,
                    "Phone": "(800) 955-2292",
                    "Fax": "(800) 955-2293",
                    "Website": "http://www.nowebsitetomsclub.com"
                }, {
                    "ID": 5,
                    "CompanyName": "E-Mart",
                    "Address": "3333 Beverly Rd",
                    "City": "Hoffman Estates",
                    "State": "Illinois",
                    "Zipcode": 60179,
                    "Phone": "(847) 286-2500",
                    "Fax": "(847) 286-2501",
                    "Website": "http://www.nowebsiteemart.com"
                }, {
                    "ID": 6,
                    "CompanyName": "Walters",
                    "Address": "200 Wilmot Rd",
                    "City": "Deerfield",
                    "State": "Illinois",
                    "Zipcode": 60015,
                    "Phone": "(847) 940-2500",
                    "Fax": "(847) 940-2501",
                    "Website": "http://www.nowebsitewalters.com"
                }, {
                    "ID": 7,
                    "CompanyName": "StereoShack",
                    "Address": "400 Commerce S",
                    "City": "Fort Worth",
                    "State": "Texas",
                    "Zipcode": 76102,
                    "Phone": "(817) 820-0741",
                    "Fax": "(817) 820-0742",
                    "Website": "http://www.nowebsiteshack.com"
                }, {
                    "ID": 8,
                    "CompanyName": "Circuit Town",
                    "Address": "2200 Kensington Court",
                    "City": "Oak Brook",
                    "State": "Illinois",
                    "Zipcode": 60523,
                    "Phone": "(800) 955-2929",
                    "Fax": "(800) 955-9392",
                    "Website": "http://www.nowebsitecircuittown.com"
                }, {
                    "ID": 9,
                    "CompanyName": "Premier Buy",
                    "Address": "7601 Penn Avenue South",
                    "City": "Richfield",
                    "State": "Minnesota",
                    "Zipcode": 55423,
                    "Phone": "(612) 291-1000",
                    "Fax": "(612) 291-2001",
                    "Website": "http://www.nowebsitepremierbuy.com"
                }, {
                    "ID": 10,
                    "CompanyName": "ElectrixMax",
                    "Address": "263 Shuman Blvd",
                    "City": "Naperville",
                    "State": "Illinois",
                    "Zipcode": 60563,
                    "Phone": "(630) 438-7800",
                    "Fax": "(630) 438-7801",
                    "Website": "http://www.nowebsiteelectrixmax.com"
                }, {
                    "ID": 11,
                    "CompanyName": "Video Emporium",
                    "Address": "1201 Elm Street",
                    "City": "Dallas",
                    "State": "Texas",
                    "Zipcode": 75270,
                    "Phone": "(214) 854-3000",
                    "Fax": "(214) 854-3001",
                    "Website": "http://www.nowebsitevideoemporium.com"
                }, {
                    "ID": 12,
                    "CompanyName": "Screen Shop",
                    "Address": "1000 Lowes Blvd",
                    "City": "Mooresville",
                    "State": "North Carolina",
                    "Zipcode": 28117,
                    "Phone": "(800) 445-6937",
                    "Fax": "(800) 445-6938",
                    "Website": "http://www.nowebsitescreenshop.com"
                }],
            }
        })
    </script>
</body>

</html>